body {
    background-color: #405988;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.common {
    /* background-color:#cccccc; */
    border: 2px solid white;
    position: absolute;
}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    padding-left: 250px;
    border-bottom: solid 1px #ffffff;
}
.leftmenu {
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 39px;
    z-index: 1;
    padding-top: 4px;
    border-right: solid 1px #ffffff;
}
.mainbody {
    top: 114px;
    left: 114px;
    bottom: 39px;
    overflow: auto;
    padding-right: 8px;
}

.footer {
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    font-size: 8px;
    color: #999999;
    text-align: center;
    padding-top: 15px;
    position : fixed;
}

.subheader {
    float: right;
}